<html>
    <head>
        <title>Asad's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Asad's Blog</a></h1>
        </div>

        {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

        <div>
            <p>published: 17.02.2020, 12:14</p>
            <h3><a href="">My second post</a></h3>
            <p>The assignment is to show a list of clothes.</p>
        </div>
    </body>
</html>