<html>
    <head>
        <title>Asad's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Asad's Blog</a></h1>
        </div>

        <div>
            <p>published: 17.02.2020, 12:14</p>
            <h2><a href="">What will happen</a></h2>
            <p>Appointment with Dylienne and her squad. <strong>#terrified</strong></p>
        </div>

        <div>
            <p>published: 17.02.2020, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>The assignment is to show a list of clothes.</p>
        </div>

        <div>
            <p>published: 17.02.2020, 12:14</p>
            <h3><a href="">My second post</a></h3>
            <p>The assignment is to show a list of clothes.</p>
        </div>
    </body>
</html>